buddhiko.com {
  reverse_proxy https://github.com {
    header_up Host {upstream_hostport}
    header_up origin https://github.com
    header_down location (https://github.com/)(.*) https://gh.proxy/$2
  }
}
